<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/Logo.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="/javascripts/index.js" defer></script>
  </head>
  <body>
    <nav class="navigation">
      <button class="menu-btn"><i class="fa fa-reorder"></i></button>
      <header>Maverick Book Store</header>
      <button class="settings"><i class="fa fa-gear"></i></button>
    </nav>
    <div class="hidden-menu">
      <ul>
        <li class="settings-items">Sign out</li>
        <li class="settings-items">Profile</li>
      </ul>
    </div>
  </body>
</html>
