@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #161515;
  padding: 0px;
  margin: 0;
  color: whitesmoke;
}
nav {
  background-color: hsl(235, 26%, 17%);
  display: flex;
  justify-content: space-between;
  font-family: "Arvo", fantasy, Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: 2.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}
nav button {
  color: antiquewhite;
  outline: none;
  background-color: rgb(43, 46, 74);
  width: 5%;
  font-size: 1.5rem;
  border: 2px solid rgb(156, 245, 73);
  border-radius: 2px;
  transition: 0.3s ease-in-out;
}
nav button:hover {
  background-color: black;
  border: 5px solid rgb(3, 172, 40);
  cursor: pointer;
  box-shadow: 6px 4px 8px 0px #000000;
}
.hidden-menu {
  display: none;
}
.show-menu {
  position: absolute;
  background-color: #20212c;
  right: 0vw;
  margin: 0.2rem;
  padding: 0.2rem;
  font-size: 1.5rem;
  border-radius: 10px;
  display: flex;
}
.show-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  text-align: left;
}
.show-menu li {
  font-family: "Arvo", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  padding: 1rem;
  margin: 0.3rem;
  text-align: center;
  transition: 0.2s ease-in-out;
}
.show-menu li:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 5px;
}
.hidden-menu-bar {
  width: -100px;
  display: none;
  transition: 0.5s;
}
.menu-bar {
  opacity: 0.99;
  z-index: 100;
  display: flex;
  position: fixed;
  background-color: #10111f;
  margin: 0;
  padding: 0.5rem;
  height: 100vh;
  font-family: "Arvo", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 1.5rem;
  transition: 0.5s;
  flex-wrap: wrap;
  width:  25vw;
  align-items: flex-start;
  justify-content: flex-start;
  
}
.menu-bar ul {
  list-style: none;

}
.menu-bar li {
  
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  color: white;
  
}
.menu-bar li:hover {
  color: white;
  background-color: #000000;
  cursor: pointer;
  box-shadow: 0px 3px 4px 2px #331169;
}
#close-nav {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 2rem;
}
#close-nav:hover {
  cursor: pointer;
}
.greeting_div {
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: #160852af;
  border-radius: 5px;
  display: flex;
  font-family: 'Arvo',"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  justify-content: center;
  align-content: center;
}
.quotes{
  background-color: rgb(0, 0, 0);
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  width: 50vw;
  top: 20vh;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
}
#quotes-text {
  font-family: 'Dosis';
  font-size: 2rem;
}
#quote-by{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 1.7rem;
  text-align: right;
}
@media screen and (max-width: 770px) {
  header {
    font-size: 1.5rem;
  }
  nav button {
    font-size: 1rem;
  }
  .menu-bar{
    width: 100vw;
    justify-content: center;
    align-content: center;
  }
}
::-webkit-scrollbar {
  background-color: #082458;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(35deg, rgb(25, 160, 184), rgb(185, 13, 157));
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(40deg, rgb(43, 49, 43), rgb(63, 59, 50));
}
::-webkit-scrollbar-thumb:hover{
  box-shadow: 10px 6px 16px 16px whitesmoke;
}
